
<div class="books_area">
  <h2>Books</h2>
  <table>
    <tr class = 'title'>
      <th><p>Title</p></th>
      <th><p>Opinion</p></th>
    </tr>
    <% @books.each do |books| %>
      <tr>
        <th>
          <% if books.user.image.attached? %>
            <%= image_tag books.image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
        </th>
        <th><span><%= link_to "#{books.title}", "books/1" %></span></th>
        <th><span><%= books.body %></span></th>
      </tr>
    <% end %>
  </table>
</div>

