<%= form_with model: @book do |f| %>
  <table>
    <tr>
      <td>
        <% if current_user.image.attached? %>
          <%= image_tag current_user.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
      </td>
      <td><%= link_to "#{@book.user.name}", user_path(@book.user.id) %></td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
    </tr>
  </table>
<% end %>
