<%= render 'layouts/successmessage' %>
<h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
<p>In <i class="fas fa-book"></i>Bookers,</p>
<p>you can share and exchange your opinions, inpressions, and emotions<br>
about various books!</p>
<div class="btn btn-info" >
  <%= link_to new_user_session_path do%>
    <a>Log in</a>
  <% end %>
</div>
<div class="btn btn-success">
  <%= link_to new_user_registration_path do%>
    <a>Sign up</a>
  <% end %>
</div>
