<% if error_value.errors.any? %>
  <%= error_value.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% error_value.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>